
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>工商学堂</title>
    <script src="../../../static/js/jquery/jquery.min.js"></script>
    <script src="../../../static/js/js/adminlte.js"></script>
    <link rel="stylesheet" href="../../../static/css/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../../static/css/css/adminlte.min.css">
    <link rel="stylesheet" href="../../../static/layui-master/dist/css/layui.css" media="all">
    <script src="../../../static/js/JQuery-3.js"></script>
    <script src="../../../static/layui-master/dist/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../../static/css/index.css">
    <link rel="stylesheet" href="../../../static/css/admin/admin.css">
</head>
<body class="hold-transition sidebar-mini">
<header>
    <div class="layui-nav" style="z-index: 2;">
        <ul>
            <li class="layui-nav-item">
                <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">个人中心</a></dd>
                    <dd><a href="javascript:;">管理员页面</a></dd>
                    <dd><a id="setting" href="javascript:;">设置</a></dd>
                    <dd><a href="javascript:;">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="../../../WEB-INF/views/index.html">工商学堂</a>
            </li>
            <li class="layui-nav-item">
                <a href="">动态<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">消息<span class="layui-badge">9</span></span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">关注</a>
            </li>
            <li class="layui-nav-item">
                <a href="">个人中心</a>
            </li>
            <li class="layui-nav-item">
                <a href="">写文章</a>
            </li>
            <li class="layui-nav-item">
                <a href="../../WEB-INF/views/search.html">搜索</a>
            </li>
        </ul>
    </div>
    <div class="wrapper" style="margin-top: 80px; z-index: 1;">
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                            <i class="nav-icon fas fa-tachometer-alt"></i>
                            <p>
                                管理员用户
                                <i class="right fas fa-angle-left"></i>
                            </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="./index.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>用户管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>角色管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>权限管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>文章管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>评论管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>文章分类管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>消息管理</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="pages/widgets.html" class="nav-link">
                            <i class="nav-icon fas fa-th"></i>
                            <p>
                                动态
                            </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-chart-pie"></i>
                            <p>
                                个人中心
                                <i class="right fas fa-angle-left"></i>
                            </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="pages/charts/chartjs.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>关注管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/flot.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>收藏管理</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/inline.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>写文章</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/charts/uplot.html" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>消息</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
    </div>
</header>
<div class="user-manage">
    <div class="user-manage-within">
        <div style="height: 10px;"></div>
        <p class="layui-elem-quote" style="margin-top: 30px;">动态</p> 
        <hr>
        <div th:each="news,newsStat:${newsList}" class="left-three-text">
            <div class="zuo-img">
                <div class="zuo-img-zhong"><a href="../../../WEB-INF/views/article.html" style="height: 100%; width: 100%; display:block"><img class="img-daoxiao" src="../../../static/img/1648123602812.png"></a></div>
            </div>
            <div class="left-three-text-up">
                <a class="left-three-text-a" th:text="${news.title}" href="../../../WEB-INF/views/article.html">风纪扣撒辣椒粉卡卷</a>
            </div>
            <div class="left-three-text-centre">
                <a class="left-three-text-centre-a" th:text="${news.content}" href="../../../WEB-INF/views/article.html">
                发神经康复疗法就爱看领导JFK垃圾覅六级考了了解对方卡卡了解；来解释大方开朗
                </a>
            </div>
            <div class="left-three-text-below">
                <div class="left-three-text-below-one">
                </div>
                <div class="left-three-text-below-two">
                    <div class="left-three-text-below-two-time">
                        发布于 <span th:text="${news.time}">1990-12-06</span>
                    </div>
                </div>
                <ul class="left-three-text-below-three" class="layui-btn-container">
                    
                    <li>
                        <button type="button" class="layui-btn"><i class="layui-icon layui-icon-more"></i></button>
                    </li>
                </ul>
            </div>
        </div>
        <div th:each="news,newsStat:${newsList}" class="left-three-text">
            <div class="zuo-img">
                <div class="zuo-img-zhong"><a href="../../../WEB-INF/views/article.html" style="height: 100%; width: 100%; display:block"><img class="img-daoxiao" src="../../../static/img/1648123602821.jpg"></a></div>
            </div>
            <div class="left-three-text-up">
                <a class="left-three-text-a" th:text="${news.title}" href="../../../WEB-INF/views/article.html">风纪扣撒辣椒粉卡卷</a>
            </div>
            <div class="left-three-text-centre">
                <a class="left-three-text-centre-a" th:text="${news.content}" href="../../../WEB-INF/views/article.html">
                发神经康复疗法就爱看领导JFK垃圾覅六级考了了解对方卡卡了解；来解释大方开朗
                </a>
            </div>
            <div class="left-three-text-below">
                <div class="left-three-text-below-one">
                </div>
                <div class="left-three-text-below-two">
                    <div class="left-three-text-below-two-time">
                        发布于 <span th:text="${news.time}">1990-12-06</span>
                    </div>
                </div>
                <ul class="left-three-text-below-three" class="layui-btn-container">
                    <li>
                        <button type="button" class="layui-btn"><i class="layui-icon layui-icon-more"></i></button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-more">
            <div style="width: 100%; margin: 0;">
                <button type="button" class="layui-btn layui-btn-fluid">加载更多</button>
            </div>
        </div>
    </div>
</div>
<!-- 回到顶部按钮 -->
<div class="scroll-to-top">
    <a type="button" style="height: 100%; width: 100%; display:block" class="layui-btn layui-btn-lg layui-btn-normal" href="#ding">  <i>顶部</i> </a>
</div>
</body>
</html>
