
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>工商学堂</title>
    <script src="../../../static/js/jquery/jquery.min.js"></script>
    <script src="../../../static/js/js/adminlte.js"></script>
    <link rel="stylesheet" href="../../../static/css/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../../static/css/css/adminlte.min.css">
    <link rel="stylesheet" href="../../../static/layui-master/dist/css/layui.css" media="all">
    <script src="../../../static/js/JQuery-3.js"></script>
    <script src="../../../static/layui-master/dist/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../../static/css/index.css">
    <link rel="stylesheet" href="../../../static/css/admin/admin.css">
</head>
<body class="hold-transition sidebar-mini">
<header>
    <div class="layui-nav" style="z-index: 0;">
        <ul>
            <li class="layui-nav-item">
                <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">个人中心</a></dd>
                    <dd><a href="javascript:;">管理员页面</a></dd>
                    <dd><a id="setting" href="javascript:;">设置</a></dd>
                    <dd><a href="javascript:;">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="../../../WEB-INF/views/index.html">工商学堂</a>
            </li>
            <li class="layui-nav-item">
                <a href="">动态<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">消息<span class="layui-badge">9</span></span></a>
            </li>
            <li class="layui-nav-item">
                <a href="">关注</a>
            </li>
            <li class="layui-nav-item">
                <a href="">个人中心</a>
            </li>
            <li class="layui-nav-item">
                <a href="">写文章</a>
            </li>
            <li class="layui-nav-item">
                <a href="../../WEB-INF/views/search.html">搜索</a>
            </li>
        </ul>
    </div>
</header>
<div class="user-manage">
    <div class="user-manage-within">
        
    </div>
</div>
</body>
</html>
