.outer, body{
    width: 100%;
    height: 100%;
    background-color: #ece8e3;
}
.within{
    margin: 50px auto;
    height: 200px;
    width: 200px;
}
form .within-input1{
    width: 200px;
    height: 20px;
}
form .within-input2{
    width: 100px;
    height: 30px;
}
form .within-input3{
    width: 109px;
    height: 20px;
}
.outer-one{
    height: 42px;
    width: 65px;
    margin: auto;
}