<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>工商学堂</title>
    <link rel="stylesheet" href="../../static/layui-master/dist/css/layui.css" media="all">
    <!-- <script tppabs="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script> -->
    <script src="../../static/js/JQuery-3.js"></script>
    <script src="../../static/layui-master/dist/layui.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../static/css/index.css"></link>
    <link rel="stylesheet" href="../../static/css/article.css"></link>
</head>
<body>
    <header>
        <div class="layui-nav">
            <ul>
                <li class="layui-nav-item">
                    <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">个人中心</a></dd>
                        <dd><a href="javascript:;">管理员页面</a></dd>
                        <dd><a href="javascript:;">设置</a></dd>
                        <dd><a href="javascript:;">退出</a></dd>
                    </dl>
                    </li>
                <li class="layui-nav-item">
                    <a href="">工商学堂</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">动态<span class="layui-badge-dot"></span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="">消息<span class="layui-badge">9</span></span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="">关注</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">个人中心</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">写文章</a>
                </li>
                <li class="layui-nav-item">
                    <a href="">搜索</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="kong1" id="ding"></div>
    <div class="navigation"></div>
    <div class="home">
        <div class="trail">
            <div class="second-screen">
                <div class="first-screen-left">
                    <div class="article-within">
                       <div class="title-left">
                            <h1>疯狂家居服解放军</h1>
                       </div>
                       <div>
                            <div class="user-ditails" class="layui-nav-item">
                                <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img">用户名</a>
                            </div>
                            <div class="time-two">
                                发布于 1990-12-08
                            </div>
                            <div class="three-button" class="layui-btn-container">
                                <button type="button" class="layui-btn"><i class="layui-icon layui-icon-rate"></i></button>
                                <button type="button" class="layui-btn"><i class="layui-icon layui-icon-heart"></i></button>
                                <button type="button" class="layui-btn"><i class="layui-icon layui-icon-more"></i></button>
                                <button type="button" class="layui-btn"><i class="layui-icon layui-icon-share"></i></button>
                            </div>
                       </div> 
                       <hr class="layui-border-blue">
                       <div class="content-centre">
                        我现在看知乎的状态，<br>就像是玩狼人杀，<br><br>我预言家把每个人的牌都看了一遍。然后再看狼在我面前演戏的感觉。虽然以反贼不说是十拿九稳吧。但至少也有个七八成。<br>因为有些人看似反贼，但其实他是真的傻。对于傻子其实很好处理，就是用一种劝分不劝和的心态，什么都顺着他来。你不是说国内不行阴阳怪气想移民吗。劝他移！哪怕是偷渡都要劝他移民。并且还可以给他出谋划策。中国太烂了赶紧移！要是能把他真的忽悠移民了，那你就积了大德了。因为他的选择带来的所有后果都只有他自己的人生承担，而你只要出一张嘴就行了。至于那些真正坏的人，你只要学他就行了。他们的目的是来知乎带节奏。就像香港那些上街头的是炮灰，而他们就是躲在后面的人。他们的目的是想让你也去当炮灰。他只要发现拿你没办法，就不会在你身上浪费时间。但他们想跑怎么行？不仅不能放他走你还要死皮赖脸拖住他们。他们一旦带不了节奏，那么他们的所有行为都是没有意义的。这样他们只有发挥他们的bl心特长把你拉黑。他们其实就是一帮又怂又没啥本事还bl心的东西。他们不是喜欢感恩吗，那你也感恩他们。并且还要带着阴阳怪气的口吻。他们不是喜欢反思吗。那你也趁他们病的时候要他们反思。比如最近4V地震了，你可以让他们反思反思为什么全世界那么多地方不震就震你们？你不要想着去和他们理性讨论。他们就不是来跟你讨论的。这回台湾的1450自己在知乎玩脱了其实就是个好事儿。他们一手把大陆整个群体对4V的最后一点好感全部败光。据我观察，这帮反贼大致可以分为三类，一类是4V的1450。他们本质上是听从拜登服务的，可以说是打拜登的配合。另外他们本身的心思是想通过网络舆论瓦解大陆。尽管有些不切实际但他们就是这么想的。因为这是他们唯一能做的一点努力。或者说是反击。第2类是领拜登经费的。这些顾的都是大陆人，所以你很难从言行上将他们和4V的加以区分。他们的目的其实就是挑动中俄关系。不能让中俄抱团取暖。因为他下一个要对付的目标只能是中国。要是让中俄之间形成了一个小圈子，或者是通过贸易互相支援。那他的制裁就起不到原先应有的效果。而第3类就是各类自带干粮的和公知。他们倒是不像前两者那么统一指挥。他们本身不属于50万，但屁股很歪。他们本质上都会和大陆的国家利益对着干。其实就是想遭返但却又不敢，时不时还要挂一块忠君爱国的免死金牌在脖子上。
                       </div>
                       <hr class="layui-border-red">
                       <div class="comment-below">
                            <div class="comment-below-within">
                                <div class="comment-box">
                                    <form style="height: 38px; width: 100%; overflow: hidden;" action="">
                                        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入你想说的话" style="width: 550px; float: left;" class="layui-input">
                                        <input style="float: left;" type="button" value="发布" class="layui-btn layui-btn-normal">
                                    </form>
                                </div>
                                <div class="other-comments" style="height: 100%; width: 100%;">
                                    <hr class="layui-border-black">
                                    <div class="other-comment" style="width: 100%; height: 100%;" class="layui-nav-item">
                                        <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img" style="margin-top: 10px; margin-bottom: 10px; float: left;"></a>
                                        <div style="float: left; height: 100%; width: 580px;">最近猪肉价钱又涨了。</div>
                                    </div>
                                    <hr class="layui-border-black">
                                    <div class="other-comment" style="width: 100%; height: 100%;" class="layui-nav-item">
                                        <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img" style="margin-top: 10px; margin-bottom: 10px; float: left;"></a>
                                        <div style="float: left; height: 100%; width: 580px;">确实涨了，涨了好多。</div>
                                    </div>
                                    <hr class="layui-border-black">
                                    <div class="other-comment" style="width: 100%; height: 100%;" class="layui-nav-item">
                                        <a href=""><img src="//t.cn/RCzsdCq" class="layui-nav-img" style="margin-top: 10px; margin-bottom: 10px; float: left;"></a>
                                        <div style="float: left; height: 100%; width: 580px;">看来以后都吃不上猪肉了。</div>
                                    </div>
                                    <hr class="layui-border-black">
                                    <div id="demo2" style="margin-left: 80px;"></div>
                                </div>
                            </div>
                            
                       </div>
                    </div>
                </div>
                <div class="first-screen-right">
                    
                    <div class="right-header">
                        <p class="layui-elem-quote" class="p-zuo">相关推荐</p>
                    </div>
                    <div class="navigation-tags">
                        <span class="layui-breadcrumb">
                            <a href="">计算机科学与技术</a>
                            <a href="">物联网工程</a>
                            <a href="javascript:;" class="layui-font-blue" id="demo3">更多<i class="layui-icon layui-font-12 layui-icon-down"></i></a>
                        </span>
                    </div>
                    <hr>
                    <div class="right-file">
                        <a class="right-file-a" href="../../WEB-INF/views/article.html">
                            工商那些年的趣事
                        </a>
                    </div>
                    <div class="right-file">
                        <a class="right-file-a" href="../../WEB-INF/views/article.html">
                            我校副校长的日常工作
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-to-top">
        <a type="button" style="height: 100%; width: 100%; display:block" class="layui-btn layui-btn-lg layui-btn-normal" href="#ding">顶部</a>
    </div>
    <!-- 做分页的js -->
    <script>
        layui.use(['laypage', 'layer'], function(){
          var laypage = layui.laypage
          ,layer = layui.layer;
          //自定义样式
          laypage.render({
            elem: 'demo2'
            ,count: 100 //定义页数
            ,theme: '#1E9FFF'
          });
        });
    </script>
    <!-- 做下拉菜单的js -->
    <script>
        layui.use(['dropdown', 'util', 'layer', 'table'], function(){
          var dropdown = layui.dropdown
          ,util = layui.util
          ,layer = layui.layer
          ,table = layui.table
          ,$ = layui.jquery;
          
          //初演示 - 绑定文字
          dropdown.render({
            elem: '#demo3'
            ,data: [{
              title: '软件工程'
              ,id: 100
            },{
              title: '新能源'
              ,id: 102
            }]
            ,click: function(obj){
              this.elem.val(obj.title);
            }
          });
        });
        </script>
</body>
</html>